<div class="span3">
    @Html.Partial("__SideNav")
</div>
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Engineering Tools</a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("GeneralProperties", "WakeSimulation", new { area = "EngineeringTools" })">Wake Simulation</a> <span class="divider">/</span></li>
        <li class="active">Simulation</li>
    </ul>
    <a class="btn btn-info" href="#" id="button-run">Run</a>
    <div id="download-link" style="display: none;"><a href="@Url.Action("DownloadResult", "WakeSimulation", new { area = "EngineeringTools" })">Download result</a></div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#button-run').click(function () {
                $.ajax({
                    url: "@Url.Action("Run", "WakeSimulation", new { area = "EngineeringTools" })",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        $('#download-link').show();
                    }
                });
            });
        });        
    </script>    
}